$primary-color: #62a6b3;
$secondary-color:#e8e8e8;
$tertiary-color:#efefef;
$text-color:#5d5d5d;


$board-background: $primary-color;
$board-columns-background: $secondary-color;
$board-title: $tertiary-color;
