.board {
	margin:0 auto;
	display: flex;
	justify-content: space-between;

	h2 {
		background: $board-title;
		margin: 0;
		padding:10px;
		border-top-left-radius:5px;
		border-top-right-radius:5px;
		box-shadow: 0 2px 1px 0px #dcdcdc;
		border-bottom:1px solid #f3f3f3;

		display: flex;
    	justify-content: space-between;
    	align-items: center;
	}
	

	&__column {
		background-color: $board-columns-background;
		flex:1 0 auto;
		border-radius: 3px;
		margin-right: 2%;
		text-align: center;
		box-shadow: 5px 2px 10px -4px rgba(0,0,0,0.75); 

		&:last-child{
			margin-right:0px;
		}

		.show {
			max-height: 700px;
			transition: max-height 0.25s ease-in;
		}

		.hide {
			max-height: 0;
    		transition: max-height 0.15s ease-out;
    		overflow: hidden;
		}
	}

	&__hours {
		font-size: 14px;
		color:#828282;
	}
}

@media only screen 
  and (min-width:320px) 
  and (max-width: 736px) 
   and (orientation: portrait) {  
	
	.board {
		flex-direction: column;

		&__column {
			width:100%;
			max-width: 100%;
			box-shadow: none;
			margin-bottom: 20px;
		}
	}

}
