.task {


	&--new {
		display: flex;
		background:$board-columns-background;
		border-radius: 10px;
		max-width: 268px;
    	padding: 15px;
    	margin-left: 33px;
    	margin-bottom: 20px;
	}

	&--new__hours input{
		max-width:50px;
	}

	&--new__add {
		
		border-radius:50px;
		height: 40px;
    	width: 40px;
    	font-size: 26px;
		background: none;
		border:2px solid #ef6b27;
		color:#ef6b27;
	}
}